
body {
    margin: 0;
    height: 5000px;
    background-color: #485fc6;
}

.master {
    width:900px;
    height:100%;
    margin:auto;
    display: block;
}

.SearchnTag {
    width: 80%;
    display: block;
    margin: 50px auto;
}

.feed {
    width: 900px;
    margin-left:0 !important;
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    left: 5%;
    top: 100%;
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sort {
    width: 15%;
    height: 38px;
    flex-grow: 0;
    align-items: center;
    gap: 8px;
    margin: 32px 19.7px 25px 10px;
    padding: 5px 8px;
    border-radius: 10px;
    box-shadow: 0 14px 34px 0 rgba(254, 89, 85, 0.24);
    background-color: #fe5955;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: white;
    text-align: center;
    min-width: 300px;
    max-width: 400px;
}
.group {
    width:1400px;
    margin:auto;
}

.searchTag{
    margin-top: -12%;
}
.myplaylist{
    font-size: 40pt;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-stretch: normal;
    letter-spacing: normal;
    color: white;
   font-variant-caps: all-petite-caps;
    margin-top: 50px;
    margin-bottom: 70px;
}

.align {
    margin-top: 50px;
    margin-bottom: -40px;
}

.Tag {
    border-radius: 5px;
    border: transparent;
    font-size: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;
    box-shadow: 0 14px 34px 0 rgba(254, 89, 85, 0.24);
    background-color: #fe5955;
    min-width: 120px;
    max-width: 150px;
    padding: 5px;
    column-gap: -10px;
}

.Btn{
    cursor: pointer;
}

.search-button{
    width: 40px;
    height: 40px;
    background-color: #6666FF;
    border-radius: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    line-height: 1;
}